body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
  display: flex;
  justify-content: center;
  margin: 8px;
}

ol {
  padding-inline-start: 30px;
}

.root {
  display: flex;
  flex: 1;
  justify-content: center;
}

.container {
  width: 85%;
  background-color: #f6f6ef;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 2px;
  background-color: #ff6600;
}

.header img {
  border: 1px #fff solid;
  margin-right: 4px;
}

.header a {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.main {
  margin-top: 10px;
}
